<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>practice</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <p>base price: <input type="text" v-model="basePrice"></p>
    <p>included price: <input type="text" v-model="taxIncludedPrice"></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script src="js/practice.js"></script>
</body>

</html>